<?xml version="1.0" encoding="UTF-8"?>

<!-- 这里用于添加WebComponent的不同接口 注意path不能一样，如果一样的话，只有最后一个会被加载 -->
<Servlets web_port="8088">
	<Servlet class="com.road.pitaya.web.gm.activity.DDTActivityGMServletImpl"
		path="/GMINF"></Servlet>
	<Servlet class="com.road.pitaya.web.gm.OnlineHandlerServlet"
		path="/ONLINE"></Servlet>
	<Servlet class="com.road.pitaya.web.login.LoginServlet" path="/Login"></Servlet>
</Servlets>

